<%- include ../header.ejs %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% if (containers.length > 0) { %>
        <% containers.forEach(function (container) { %>
        <div class="container-item">
            <div class="container-attr">
                <span class="key">Name:</span>&nbsp;<span class="string"><%= container.name; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Image:</span>&nbsp;<span class="string"><%= container.image; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Port:</span>&nbsp;<span class="string"><%= container.ports; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Webhook:</span>&nbsp;<span class="string"><%= container.url; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Status:</span>&nbsp;<span class="string"><%= container.Id ? 'Running' : 'Created'; %></span>
            </div>
        </div>
        <% }); %>
        <% } else { %>
        <div class="alert alert-danger">
            <p>
                没有正在追踪的容器
            </p>
        </div>
        <% } %>
    </div>
</div>

<%- include ../footer.ejs %>
