<%- include ../header.ejs %>

<div class="row">
    <div class="col-md-4">
        <div class="container-item">
            <h3>访问地址</h3>
            <hr />
            <%= server + ':' + containerInfo.ports.split(':')[0].slice(2); %>
        </div>

        <div class="container-control">
            <% if (containerInfo.status == 'running') { %>
            <form action="/container/restart/<%= containerInfo.id; %>" method="post">
                <button type="submit" class="btn btn-lg btn-success">重启</button>
            </form>
            <form action="/container/stop/<%= containerInfo.id; %>" method="post">
                <button type="submit" class="btn btn-lg btn-warning">停止</button>
            </form>
            <% } else { %>
            <form action="/container/start/<%= containerInfo.id; %>" method="post">
                <button type="submit" class="btn btn-lg btn-success">启动</button>
            </form>
            <% } %>
        </div>
    </div>

    <div class="col-md-8">
        <!-- container info -->
        <div class="container-item">
            <h3>摘要信息</h3>
            <hr />
            <div class="container-attr">
                <span class="key">ID:</span>&nbsp;<span class="string"><%= containerInfo.id; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Name:</span>&nbsp;<span class="string"><%= containerInfo.name; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Image:</span>&nbsp;<span class="string"><%= containerInfo.image; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Ports:</span>&nbsp;<span class="string"><%= containerInfo.ports; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Bings:</span>&nbsp;<span class="string"><%= containerInfo.binds; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Working Dir:</span>&nbsp;<span class="string"><%= containerInfo.pwd; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Command:</span>&nbsp;<span class="string"><%= containerInfo.command; %></span>
            </div>
            <div class="container-attr">
                <span class="key">Created:</span>&nbsp;<span class="string"><%= containerInfo.created; %></span>
            </div>
        </div>

        <!-- container detail -->
        <div class="container-item">
            <h3>详细信息</h3>
            <hr />
            <pre><%- containerDetail %></pre>
        </div>
    </div>
</div>

<%- include ../footer.ejs %>
