<%- include ../header.ejs %>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <% if (upContainers.length > 0 || exitContainers.length > 0) { %>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr class="active">
                    <td>
                        Name
                    </td>
                    <td>
                        Image
                    </td>
                    <td>
                        Port
                    </td>
                    <td>
                        Created
                    </td>
                </tr>
                </thead>
                <tbody>
                <% upContainers.forEach(function (container) { %>
                <tr class="success">
                    <td><a href="/container/<%= container.Id %>"><%= container.name; %></a></td>
                    <td><%= container.image; %></td>
                    <td><%= container.port; %></td>
                    <td><%= container.created; %></td>
                </tr>
                <% }); %>
                <% exitContainers.forEach(function (container) { %>
                <tr class="warning">
                    <td><a href="/container/<%= container.Id %>"><%= container.name; %></a></td>
                    <td><%= container.image; %></td>
                    <td><%= container.port; %></td>
                    <td><%= container.created; %></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <% } else { %>
        <div class="alert alert-danger">
            <p>
                没有容器正在运行
            </p>
        </div>
        <% } %>
    </div>
</div>

<%- include ../footer.ejs %>
